body{
    text-align: center;
    background-color: rgb(238, 238, 203);
}
/* ESTILIZAÇÃO POR TAGS */

ul{
    background-color:rgb(255, 173, 173);
    list-style: none;
}
li{
    background-color: aliceblue;
    color: black;
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{background-color: antiquewhite;}

/* ESTILIZAÇÃO POR ID*/
#caixa-rosa{
    background-color: pink;
    padding: 100px;
    margin: 20px;
}

#caixa-roxa{
    background-color: purple;
}

/*ESTILIZAÇÃO POR CLASSES*/
.caixinha{
background-color: white;
color: blue;
width: 100px;
height: 150px;
display: inline-block;
margin: 50px 40px 30px 20px;

}
