body{
    background-color: violet;
    color:white;
    text-align: center;
}

#bloco{
    background-color: black;
    display: block;
    
}

.quad{
    width: 200px;
    height: 200px;
    font-size: 50px;
    text-shadow: 2px 2px black;
    /* float: left; */
    /* display: inline-block;
    display: inline; */
}
#quad1{
    background-color: red;
}
#quad2{
    background-color: yellow;
    /* margin-top: 20px; */

}
#quad3{
    background-color: green;

}

#bloco-linha{
    background-color: blue;

}
#linha{
background-color: orange;
}
#flex{
    background-color: brown;
    display: flex;
    height: 500px;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */ 
    flex-flow: row wrap ;
}
/* capacidade de aumentar */
#quad1{
flex-grow: 1;
}

/* capacidade de diminuir*/
#quad2{
flex: shrink 03ew;
}